{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{%block stylesheets%}
<link rel="stylesheet" type="text/css" href="{{asset('styles/courses.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('styles/courses_responsive.css')}}">
<style>
.section-padding {
    padding: 80px 0;
}
.create-account-form {
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid #cfcfcf;
    min-height: 380px;
    padding: 36px 17px;
}

.heading-title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 40px;
    padding-bottom: 13px;
    position: relative;
    text-transform: uppercase;
}
p.form-row {
    margin-bottom: 30px;
}
p {
    margin: 0 0 15px;
}
.create-account-form .form-row > input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #bbbbbb;
}
.form-row > input {
    background: #f6f6f6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    width: 100%;
}
.btn-default {
    background: #32b5f3 none repeat scroll 0 0;
    border: 1px solid #32b5f3;
    border-radius: 20px;
    color: #ffffff;
    height: 40px;
    padding: 0 22px;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.heading-title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 40px;
    padding-bottom: 13px;
    position: relative;
    text-transform: uppercase;
}
.submit {
    margin-top: 20px;
}
.register {
    margin-top: 10px;
}
</style>
{%endblock%}
{%block breadcrumbs%}
<!-- Home -->

<div class="home">
	<div class="breadcrumbs_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="breadcrumbs">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>Cart</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>			

</div>

{%endblock%}
{% block body %}

    <!-- Loging Area Start -->
 
    <div class="login-account section-padding">
        <div class="container">
             <div class="row">
                
                 <div class="col-md-12 col-sm-12">
                    <form method="post" class="create-account-form">
           
                    
                        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                        <label for="inputUsername">Username</label>
                        <div class="form-row">
                        <input type="text"  name="username"  id="inputUsername" class="form-control" required autofocus>
                         </div>
                        <label for="inputPassword">Password</label>
                        <div class="form-row">
                        <input type="password" name="password" id="password" class="form-control" required>
                         </div>
                         <label for="inputPassword">Confirm password</label>
                         <div class="form-row">
                         <input type="password" id="confirm_password" class="form-control" required>
                          </div>
                          <br>
                          <div class="alert-danger">password does not match</div>
                    
                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html
                    
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                        <div class="submit">					
                            <button name="submitcreate" id="submitcreate" type="submit" class="btn-default">
                                <span>
                                    <i class="fa fa-user left"></i>
                                    Create an account
                                </span>
                            </button>
                        </div>
                    </form>
                 </div>
             </div>               
        </div>
     </div>
     <!-- Loging Area End -->
{% endblock %}

{% block javascripts%}
 <script>
      $('.alert-danger').hide();
     /*$('#submitcreate').prop('disabled',true);
     $('.btn-default').css('background','grey');
     $('.btn-default').css('border','grey');*/
     $('#submitcreate').on('click',function(e){
         if($('#password').val()!=$('#confirm_password').val()){
            $('.alert-danger').show();
            $('.alert-danger').css('border','red');
            e.preventDefault(); 
         }

     });
 </script>
{%endblock%}