{% extends 'base_admin.html.twig' %}

{% block title %}Edit User{% endblock %}
{%block stylesheets%}
    <style>
    button.btn.dropdown-toggle.btn-default {
    visibility: hidden;
    
    margin-top: -60%;
}
.submit{
            margin-left: 90%;
            margin-bottom: 50px;
        }
    </style>
{%endblock%}
{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
{%block scripts%}
 <script>
     $(document).ready(function(){
     $('#user_Roles').hide();
     $('._token').hide();
     $('label[for=user__token]').remove();
     $('input[for=user__token]').remove();
     $('#teacher_image').removeClass("form-control");
    });
 </script>
 
{%endblock%}
